email=Karthik.Palanisamy@Ideagen.com
always-auth=true
registry=https://ideagen.jfrog.io/artifactory/api/npm/helix-npm-dev-local/
//ideagen.jfrog.io/artifactory/api/npm/helix-npm-dev-local/:_auth="a2FydGhpay5wYWxhbmlzYW15QGlkZWFnZW5wbGMuY29tOmNtVm1kR3R1T2pBeE9qRTNNVFV5TlRFMk5EQTZVVWRNWVRoV2NEWndjRk54VVVWaFRUYzFTRkpUUVZaaVJYaFQ="
