@font-face {
  font-family: 'GilroyLight';
  src: url(./assets/fonts/Gilroy-Light.otf) format('opentype');
}
body {
  margin: 0px;
  padding: 0px;
}
.css-ahj2mt-MuiTypography-root {
  font-family: 'GilroyLight' !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.css-1sn4lm3-MuiTypography-root {
  font-family: 'GilroyLight' !important;
  font-size: 14px !important;
}